<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>First Blog</title>
</head>

<body>

<div class="container">
    <h1>First Blog</h1>
    <h2>Title</h2>
    <h3>Posted on date by author</h3>
</div>


<form action="submitMail" method="post">
    {% csrf_token %}

    <div style="width:300px;float:left;border:1px" class="emailList">
    {{ userCheckBoxes.as_ul }}
    </div>
    <div style="width:300px;float:right;border:1px" class="credentialsForm">
    {{ credentialsForm | linebreaks }}
    </div>
    <br><br><br><br><br>
    <div style="bottom:0" class="textArea">
    {{ emailTextArea }}
    </div>
<!--     {% for email in emails %}
        {%if email%}
            <input type="checkbox" name="email" value="{{email}}" /> {{email}}<br />
        {% endif %}
    {% endfor %} -->

    <input style="position:absolute;bottom:0" type="submit" value="Submit">

</form>


</body>

</html>