<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>First Blog</title>
</head>

<body>

<div class="container">
    <h1>First Blog</h1>
    <h2>Title</h2>
    <h3>Posted on date by author</h3>
    <p>{{ body }}</p>

</div>

<form action='sendMessage' method='GET'>
    <button type='submit'> sort me</button>
</form>

<form action="saveValue" method="post">
    {% csrf_token %}
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    <input style="left:90%;" type="submit" name="save_orar" value="Save">
</form>

</body>

</html>