<!DOCTYPE html>

<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>First Blog</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body>

<div class="container">
    <h3>Page to send email</h3>
</div>


<form class="mailForm" action="submitmail" method="post">
    {% csrf_token %}
    {{mail_form }}
    <div class="submit">
    <input class="button" type="submit" value="Submit">
    </div>
</form>


<form class="fileupload" action="fileupload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{upload_form }}
    <div class="submit">
        <input class="button" type="submit" value="Save">
    </div>
</form>


</body>

</html>